In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
#reading csv file for data source
bike_df = pd.read_csv("C:/Users/tejuh/OneDrive/Desktop/Personal/Study/london_merged.csv")
bike_df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [5]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [7]:
bike_df.shape

(17414, 10)

In [9]:
#checking unique values in column weather_code
bike_df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [10]:
bike_df.season .value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [32]:
#Specifying column name that is prefered
new_col_nm = { 'timestamp' : 'time',
              'cnt' : 'count',
              't1' : 'temp_real_c',
              't2' : 'temp_feels_like_c',
              'hum' : 'humidity_perc',
              'wind_speed' : 'wind_speed_kph',
              'weather_code' : 'weather',
              'is_holiday' :'is_holiday',
              'is_weekend' :'is_weekend',
              'season ' : 'season'}

In [33]:
#renaming the column to prefered column name
bike_df.rename(new_col_nm, inplace = True, axis = 1)
bike_df.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_perc,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [34]:
#changing humidity percentage to actual percentage
bike_df.humidity_perc = bike_df.humidity_perc/100

In [35]:
bike_df.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_perc,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [36]:
#mapping code of weather and season to actual weather and season rather than its code
season_dict = { '0.0' : 'spring',
               '1.0' : 'summer',
               '2.0' : 'autumn',
               '3.0' : 'winter'}
weather_dict = {'1.0' : 'clear',
                '2.0' : 'scattered clouds',
                '3.0' : 'broken clouds',
                '4.0' : 'clouds',
                '7.0' : 'rain',
                '10.0' : 'rain with thunder',
                '26.0' : 'snowfall'}

In [37]:
#changing data type and mapping string values to its integer codes
bike_df.season = bike_df.season.astype('str')
bike_df.weather = bike_df.weather.astype('str')

bike_df.season = bike_df.season.map(season_dict)
bike_df.weather = bike_df.weather.map(weather_dict)

In [38]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  object
 1   count              17414 non-null  int64
 2   temp_real_c        17414 non-null  float64
 3   temp_feels_like_c  17414 non-null  float64
 4   humidity_perc      17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather            17414 non-null  object
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [42]:
bike_df.season.value_counts()
#bike_df.weather.value_counts()

season
spring    4394
summer    4387
winter    4330
autumn    4303
Name: count, dtype: int64

In [43]:
bike_df.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_perc,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [44]:
#writing the cleaned data to excel file to use in our visualization
bike_df.to_excel("London_bikes_final.xlsx", sheet_name = 'Data')